{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        {% if reload %}
        <script src="{% static 'reload.js' %}"></script>
        {% endif %}
        {% comment %} <link rel="stylesheet" href="{% static 'common.css' %}"> {% endcomment %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <h1>{{ title }}</h1>
        <form class="row g-3" action="/index" method="post">
            <div class="col-auto">
                {% if reload %}
                <input type="text" class="form-control" placeholder="日本語の文" id="sentence" name="sentence" disabled>
                {% else %}
                <input type="text" class="form-control" placeholder="日本語の文" id="sentence" name="sentence">
                {% endif %}
            </div>
            <div class="col-auto">
                {% if reload %}
                <button type="submit" class="btn btn-primary mb-3" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    画像生成開始
                </button>
                {% else %}
                <button type="submit" class="btn btn-primary mb-3">画像生成開始</button>
                {% endif %}
            </div>
        </form>
        {{ prompt }}<br>
        {% if reload %}
        <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        {% endif %}
        {% if img %}
        <img src="{% static img %}">
        {% endif %}
    </body>
</html>
